fake_access_key_id=app3-ASIA6ODU3VLNW2YGRZ12
fake_secret_access_key=app3-aNVa62Mk4opyyXI3T+V4phgNS/mxV3xWrSs8mtR12
fake_session_token=app3-IQoJb3JpZ2luX2VjEEwaCXVzLWVhc3QtMSJIMEYCIQDkdnDzJE6Hy0OGXLoFmrqeLynr35xcug8+tf77/jQdUAIhAK7426AIEFsLn1tnb/AFt5eQMp6O20fr3LeGG1hjxLkeKqQCCNX//////////wEQABoMOTkyMzgyNTI4MjE5IgyzphP+f6CK1IZLtcUq+AGyolwrBcznYEGFrm/Sy4TRSf5Sf//kCMoE6J5rEIt+voRA/sV1O8g6OhWCYAjmGW+ZusnQbiPYvDojaooS4ng6hSLKGVZTKlipyw4JnBMWCd+/KMLEc/wrjkjTIjlvCRbk1HcxXgKVBjC0C2nfNAM5JQPOPsKk7V6o4R6DULIMODb3mi8X4P0RFIbrad7GCMt86tMaXPg1LpI2iFwPezf5NRnQxfs6v2174sfoxPbCFgSaP/5V26woenN+crkhXW5VzPaygVF5wbgrfpbfsQ/eyocmXJhyFDdoUqo16RLL33kOkdfryBLs3FajRVLjoweqnOtdK8Y44TDRuIazBjqcAePamNSWc1/Ug/BdmZNfHY0Y9gxSXBbMDWtvICyW4r5kOIuWOavsx/xVSfQ0Qh4EMCFfxmcVobI+CqGhEBAnsZ556MGVy5MzXaggo/5Z3Z+E9YbVhik1HF8i7bw7ZSPhKB2TZ+QQabsCtTpNJuJBAeL3ltXCfHr6hm4kgzTO89ofayNl51+AahXmshtHBqz97AFlP5sPfXxpyPKRSA12
