# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      go-dependencies:
        patterns:
          - "*"
    labels:
      - "go"
      - "dependencies"
    ignore:
      - dependency-name: "github.com/charmbracelet/glamour"
        versions: ["<= 0.10.1"]
      - dependency-name: "github.com/charmbracelet/x/ansi"
        versions: ["<= 0.8.0"]

  - package-ecosystem: "bun"
    directories:
      - "**/*"
    schedule:
      interval: "weekly"
    groups:
      js-dependencies:
        patterns:
          - "*"
    labels:
      - "javascript"
      - "dependencies"
