.commercial-support {
  
  .copy-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 90px;
  }

  .subpage__header {
    .subpage__hero {
      max-width: 55%;
      margin-left: auto;
      margin-right: 1.5rem;
      text-align: left;

      h1 {
        span {
          font-weight: 300;
        }
      }
    }

    .header-bg {
      .header-shapes-left {
        left:  5%;
        top: 10%;
        z-index: 0;
        position: absolute;
        margin-top: -63px;
        width: 350px;
        margin-left: 0;
        transition: all 0.2s ease;
      }

      .header-shapes-right {
        display: block;
        position: absolute;
        width: 100%;
        bottom: -42px;
        max-width: 80px;
        right: 30px;
      }

      .header-shapes-top {
        min-width: auto;
        max-width: 400px;
        margin: 0;
        top: -20px;
      }
    }
  }
}
.commercial-support__page {
  font-family: 'Source Sans Pro', sans-serif;

  .get-access-cmp {
    .shapes-bottom {
      display: none;
    }

    span {
      position: relative;
      z-index: 2;

      .shapes-left,.shapes-right {
        position: absolute;
        z-index: 1;
      }

      .shapes-right {
        right: -200px;
      }

      .shapes-left {
        left: -200px;
      }
    }
  }

  .support-options {

    .option {
      text-align: left;
      padding: 10px;

      .icon-bubble {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        box-shadow: 0 5px 14px 0 rgba(22, 62, 122, 0.23);
        background: linear-gradient(240deg, #1888cf 50%, #5b4de5);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        img {
          width: 20px;
        }

      }

      label {
        font-size: 22px;
        font-weight: 800;
        color: #1e252f;
        width: 100%;
      }
    }
  }

  .commercial-support__pricing { 
    display: block;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .pricing-table {
      margin: 0 2rem;
    }

    .pricing-shapes-top {
      display: none;
    }

    .pricing-note {
      padding: 20px 15px;
      display: block;
      width: 100%;
      font-size: 15px;
      color:#1e252f;

      p {
        margin:0;
      }
    }

    .section-title {
      margin-bottom: 60px;
      text-align: center;

      span {
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 44px;
        font-weight: 300;
        align-items: center;
        justify-content: center;

        img {
          margin: 0 15px;
        }
      }
    }

    .header {
      display: flex;

      .cell-cnt {
        padding: 0 1rem!important;
      }

      .cell {
        background-color: #eef1f2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 180px;
        margin: auto;
        box-shadow: 0 5px 24px 0 rgba(22, 62, 122, 0.12);

        .title {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 2px;
        }
      }

      .cell-enterprise {
        background-image: linear-gradient(107deg, #5b4de5 6%, #06a3ff 68%, #0dc0ef 98%);

        .title {
          color: #fff;
        }
      }
    }

    .single-row {
      display: flex;

      .cell-cnt {
        padding: 0 1rem!important;
      }

      .description {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: #1e252f;
        min-height: 50px;
        text-align: left;
        margin: auto;
        display: flex;
        align-items: center;

        .pricing-link {
          color: inherit;
          text-decoration: none;
          text-decoration: underline;
        }

        .sla-badge {
          background-color: #0237ae;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          padding: 2px 10px;
          border-radius: 3px;
          margin-right: 15px;
          display: inline-block;
        }
      }

      .cell {
        background: #fff;
        box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 30px 30px -4px rgba(31, 73, 125, 0.1), -12px 30px 30px -4px rgba(31, 73, 125, 0.1);
        margin: auto;
        max-width: 180px;
        margin: auto;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; 

        .checkmark {
          width: 16px;
        }

        .sla {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 500;
          font-size: 22px;
          color: #1e252f;
        }

        .footer-price {
          font-family: 'Source Sans Pro', sans-serif;
          color:#07a7fd;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 2px;
          font-weight: 800;
        }
      }

      .footer-cell {
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 5px 24px 0 rgba(22, 62, 122, 0.12);
      }

      .contact-cell {
        padding: 0;

        .footer-cell-contact {
          padding: 3rem 0;
          border-bottom: none;
          background: none;
          text-align: center;

          .btn-contact-pricing {
            font-size: 13px;
            height: 45px;
            letter-spacing: 2px;
            padding: 15px 18px;
          }
        }
      }
    }
    .mobile-pricing {

      .price-card {
        max-width: 350px;
        margin:auto;
        border-radius: 10px;
        box-shadow: 0 5px 24px 0 rgba(22, 62, 122, 0.12);
        background-color: #ffffff;
        margin-bottom: 40px;

        .title {
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid  #1e252f1c;
          font-weight: 800;
          text-transform: uppercase;

          .price-label {
            color: #07a7fd;
            margin-right: 20px;
          }

          .package-name {
            margin-left: 20px;
          }
        }

        .support-label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 15px;
          padding-left:20px;
          padding: 15px 20px 0px 20px;
          align-items: center;

          .label-package-name {
            font-weight: 800;
            font-size: 18px;
            margin: 0;
          }
        }
        .sla-badge {

          .sla {
            background-color: #07a7fd;
            padding: 4px 6px;
            color: #fff;
            font-weight: 800;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }

          .sla-dark {
            background-color:#5b4de5;
            color: #fff;
            margin-left:20px;
          }

          .days {
            padding: 4px 6px;
            border: solid 1px #eaebeb;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        } 

        .feature {
          border-bottom: 1px solid #1e252f1c;
          padding: 15px 20px;
          font-size: 18px;

          img {
            width: 20px;
          } 
        }

        .footer-price-card {
          padding: 3rem 0;
          display: flex;
          justify-content: center;

          .btn-secondary {
            color: #07a7fd;
          }
        }
      }
    }
  }
}

.cell-cnt {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid  #1e252f1c;
}

.borderless-cell {
    border: none !important;
}

.title-description {
  max-width: 900px;
  margin: auto;
  margin-bottom: 36px;
  line-height: 36px;

  span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300; 
    letter-spacing: normal;
    text-align: center;
    color: #1e252f;
  }
}

@media all and (max-width: 992px) {
  .commercial-support {
    position: relative;

    .links-shapes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .links {
      flex-wrap: wrap;

      a {
        margin-top: 15px;
      }
    }
    .subpage__header {
      .header-bg {

        .header-shapes-top {
          display: block;
          width: 100%;
          max-width: 100px;
          position: absolute;
          opacity: .5;
          top: 0px;
          left: auto;
          right: 15px;
          margin: 0;
          min-width: auto;
        }

        .header-shapes-left {
          display: none;
        }
      }

      .subpage__hero {
        max-width: 100%;
        text-align: left;
        padding: 0 15px;
      }
    }
  }

  .commercial-support__page {
    hr {
      display: none;
    }

    .get-access-cmp {
      padding-top: 0;
      position: relative;

      .shapes-bottom {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 10px;
        z-index: 1;
      }

      span {
        font-weight: 500;

        .shapes-left,.shapes-right {
          display: none;
        }
      }
    }

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .title-description {
      text-align: left;
    }

    .support-options {
      .option {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .commercial-support__pricing {
      .pricing-shapes-top {
        max-width: 330px;
        margin: auto;
        display: flex;
      }

      .mobile-pricing {
        .price-card {

          .checkmark {
            margin-right: 5px;
          }
          
          .sla-badge {
            margin-top: 5px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 450px) {
  .commercial-support__page .commercial-support__pricing .mobile-pricing .price-card {
    max-width: 300px;
  }
}


