/* These styles are for all non-Starlight pages, such as home, the TG Scale page, etc.. */

@layer components {
  a {
    color: var(--color-accent-1);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-1);
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
  }

  a:hover {
    color: var(--sl-color-accent);
    text-decoration-color: var(--sl-color-accent);
  }
}