@layer base, starlight, theme, components, utilities;
@import "tailwindcss/preflight.css" layer(base);
@import '@astrojs/starlight-tailwind';
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-sans: 'Inter';
  --font-mono: 'Geist Mono';

  /* Colors */
  --color-accent: #4F2FD0;
  --color-accent-1: #7d5DFF;
  --color-accent-2: #87E0E1;
  --color-accent-3: #BFA6F2;
  --color-bg-dark: #0F1731;
  --color-stroke-dark: #2E375A;
  --color-gray-1: #A0A1AC;
  --color-gray-2: #6B6C7A;
  --color-gray-3: #DBDBDB;
  --color-dark-blue-1: #0F0934

  /* Generated accent color palettes. */
  --color-accent-200: #c0c3fa;
  --color-accent-600: #4d2acc;
  --color-accent-900: #2c2669;
  --color-accent-950: #1f1d47;
  /* Generated gray color palettes. */
  --color-gray-100: #f6f6f8;
  --color-gray-200: #ededf2;
  --color-gray-300: #c1c1c7;
  --color-gray-400: #8a8b95;
  --color-gray-500: #565761;
  --color-gray-700: #373740;
  --color-gray-800: #25262f;
  --color-gray-900: #17181c;
}

:root {
  --sl-nav-height: 5rem;
}

* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.primary-button {
  color: var(--color-white);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--color-accent-1);
  padding: 10px 24px;
  filter: drop-shadow(0px 0px 5px #34312F);
  border-radius: 8px;
}

.secondary-button {
  color: var(--color-white);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--color-bg-dark);
  padding: 10px 24px;
  border: 1px solid var(--color-stroke-dark);
  filter: drop-shadow(0px 0px 5px #34312F);
  border-radius: 8px;
}

.primary-button:hover, .secondary-button:hover {
  cursor: pointer;
}