orbs:
  go: circleci/go@1.11

# The "sign binary" rubs in a MacOS environment, so it's necessary to download GW's binaries
env: &env
  environment:
    GRUNTWORK_INSTALLER_VERSION: v0.0.39
    MODULE_CI_VERSION: v0.57.0
    OPENTOFU_VERSION: "1.9.0"
    TERRAFORM_VERSION: "1.11.3"
    TFLINT_VERSION: "0.47.0"

defaults: &defaults
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:go1.23.1-tf1.5-tg58.8-pck1.8-ci58.2

# Install Terraform which is not available in the default image
install_terraform_latest: &install_terraform_latest
  name: Install the latest Terraform
  command: |
    pushd .
    cd /tmp
    curl -L "https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip" -o terraform.zip
    unzip -o terraform.zip
    sudo install -m 0755 terraform /usr/local/bin/terraform
    rm -rf terraform
    rm -rf terraform.zip
    popd
    terraform --version
    export TG_TF_PATH=terraform

install_tofu: &install_tofu
  name: Install OpenTofu
  command: |
    pushd .
    cd /tmp
    curl -L "https://github.com/opentofu/opentofu/releases/download/v${OPENTOFU_VERSION}/tofu_${OPENTOFU_VERSION}_linux_amd64.zip" -o tofu.zip
    unzip -o tofu.zip
    sudo install -m 0755 tofu /usr/local/bin/tofu
    rm -rf tofu
    rm -rf tofu.zip
    popd
    tofu --version
    export TG_TF_PATH=tofu
    sudo rm -f $(which terraform)

install_tflint: &install_tflint
  name: Install TFlint
  command: |
    pushd .
    cd /tmp
    curl -L "https://github.com/terraform-linters/tflint/releases/download/v${TFLINT_VERSION}/tflint_linux_amd64.zip" -o tflint.zip
    unzip -o tflint.zip
    sudo install -m 0755 tflint /usr/local/bin/tflint
    rm -rf tflint
    rm -rf tflint.zip
    popd
    tflint --version

setup_test_environment: &setup_test_environment
  name: Setup integration tests environment
  command: |
    # Import test / dev key for SOPS
    gpg --import --no-tty --batch --yes ./test/fixtures/sops/test_pgp_key.asc
    mkdir -p logs
    # configure git to avoid periodic failures
    git config --global core.compression 0
    git config --global gc.auto 0
  no_output_timeout: 30m

run_integration_test: &run_integration_test
  name: Run integration tests
  command: |
    run-go-tests --packages "$(go list ./... | grep /test | tr '\n' ' ')" | tee logs/test-results.log
  no_output_timeout: 30m

run_integration_deprecated_test: &run_integration_deprecated_test
  name: Run integration tests for deprecated commands/flags
  command: |
    run-go-tests --packages "-tags deprecated -run ^TestDeprecated ./..." | tee logs/test-results.log
  no_output_timeout: 30m

run_integration_tofu_only_test: &run_integration_tofu_only_test
  name: Run tofu-only integration tests
  command: |
    run-go-tests --packages "-tags tofu -run ^TestTofu ./..." | tee logs/test-results.log
  no_output_timeout: 30m
  environment:
    TG_TF_PATH: tofu

run_integration_aws_test: &run_integration_aws_test
  name: Run integration tests AWS
  command: |
    run-go-tests --packages "-tags=aws -run ^TestAws ./..." | tee logs/test-results.log
  no_output_timeout: 30m

run_integration_awsgcp_test: &run_integration_awsgcp_test
  name: Run integration tests using both AWS and GCP
  command: |
    run-go-tests --packages "-tags=awsgcp -run ^TestAwsGcp ./..." | tee logs/test-results.log
  no_output_timeout: 30m

run_tflint_test: &run_tflint_test
  name: Run TFlint tests
  command: |
    run-go-tests --packages "-tags tflint -run TestTflint ./test" | tee logs/test-results.log
  no_output_timeout: 30m

run_race_test: &run_race_test
  name: Run Race tests
  command: |
    run-go-tests --packages "-run '.*WithRacing' -race ./test" | tee logs/test-results.log
  no_output_timeout: 30m

run_parse_test: &run_parse_test
  name: Run Parse tests
  command: |
    run-go-tests --packages "-tags parse -run ^TestParse ./test" | tee logs/test-results.log

run_terratest_log_parser: &run_terratest_log_parser
  name: Terratest log parser
  command: |
    gruntwork-install --binary-name 'terratest_log_parser' --repo 'https://github.com/gruntwork-io/terratest' --tag 'v0.30.0'
    terratest_log_parser --testlog logs/test-results.log --outputdir logs
  when: always

version: 2.1
jobs:
  integration_test_terraform_with_provider_cache:
    resource_class: xlarge
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_test
          environment:
            TG_TF_PATH: terraform
            TG_PROVIDER_CACHE: "1"
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_tofu:
    resource_class: xlarge
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_test
          environment:
            TG_TF_PATH: tofu
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_deprecated:
    resource_class: xlarge
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_deprecated_test
          environment:
            TG_TF_PATH: tofu
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_tofu_only:
    resource_class: "medium+"
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_tofu_only_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_tofu_with_provider_cache:
    resource_class: xlarge
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_test
          environment:
            TG_TF_PATH: tofu
            TG_PROVIDER_CACHE: "1"
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_tofu_aws:
    resource_class: "large"
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_aws_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_terraform_aws:
    resource_class: "medium+"
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_aws_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_terraform_awsgcp:
    resource_class: "medium+"
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_integration_awsgcp_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  integration_test_terraform_latest_aws:
    resource_class: "medium+"
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *setup_test_environment
      - run:
          <<: *install_terraform_latest
      - run:
          <<: *run_integration_aws_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  test_mocks:
    resource_class: small
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *setup_test_environment
      - run:
          name: generate mocks
          command: |
            make install-mockery
            make generate-mocks
      - run:
          name: Run mocks tests
          command: |
            run-go-tests --packages "-tags=mocks -run ^TestMock ./tf/getproviders/." | tee logs/test-results.log
          no_output_timeout: 30m
          environment:
            TG_TF_PATH: tofu
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  # Run TFLint tests separately as tflint during execution change working directory.
  integration_test_tflint:
    resource_class: large
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *install_tflint
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_tflint_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  race_test:
    resource_class: medium
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_race_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  parse_test:
    resource_class: medium
    <<: *defaults
    <<: *env
    steps:
      - checkout
      - run:
          <<: *install_tofu
      - run:
          <<: *setup_test_environment
      - run:
          <<: *run_parse_test
      - run:
          <<: *run_terratest_log_parser
      - store_artifacts:
          path: logs
      - store_test_results:
          path: logs

  build:
    resource_class: xlarge
    <<: *defaults
    steps:
      - checkout
      - run: build-go-binaries --app-name terragrunt --dest-path bin --ld-flags "-X github.com/gruntwork-io/go-commons/version.Version=$CIRCLE_TAG -extldflags '-static'"
      - persist_to_workspace:
          root: .
          paths: [bin]

  test_signing:
    <<: *env
    macos:
      xcode: 15.3.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - attach_workspace:
          at: .
      - go/install:
          version: "1.20.5"
      - run:
          name: Install sign-binary-helpers
          command: |
            curl -Ls https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/v0.0.40/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
            gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
            gruntwork-install --module-name "sign-binary-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
      - run:
          name: Compile and sign the binaries
          command: |
            export AC_PASSWORD=${MACOS_AC_PASSWORD}
            export AC_PROVIDER=${MACOS_AC_PROVIDER}

            sign-binary --os mac --install-macos-sign-dependencies .gon_amd64.hcl
            sign-binary --os mac .gon_arm64.hcl
            echo "Done signing the binary"

            # Replace the files in bin. These are the same file names generated from .gon_amd64.hcl and .gon_arm64.hcl
            unzip terragrunt_darwin_amd64.zip
            mv terragrunt_darwin_amd64 bin/

            unzip terragrunt_darwin_arm64.zip
            mv terragrunt_darwin_arm64 bin/

            codesign -dv --verbose=4 ./bin/terragrunt_darwin_amd64
            codesign -dv --verbose=4 ./bin/terragrunt_darwin_arm64

  deploy:
    <<: *env
    macos:
      xcode: 15.3.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - attach_workspace:
          at: .
      - go/install:
          version: "1.20.5"
      - run:
          name: Install sign-binary-helpers
          command: |
            curl -Ls https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/v0.0.40/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
            gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
            gruntwork-install --module-name "sign-binary-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
      - run:
          name: Compile and sign the binaries
          command: |
            export AC_PASSWORD=${MACOS_AC_PASSWORD}
            export AC_PROVIDER=${MACOS_AC_PROVIDER}

            sign-binary --os mac --install-macos-sign-dependencies .gon_amd64.hcl
            sign-binary --os mac .gon_arm64.hcl
            echo "Done signing the binary"

            # Replace the files in bin. These are the same file names generated from .gon_amd64.hcl and .gon_arm64.hcl
            unzip terragrunt_darwin_amd64.zip
            mv terragrunt_darwin_amd64 bin/

            unzip terragrunt_darwin_arm64.zip
            mv terragrunt_darwin_arm64 bin/
      - run:
          name: Run SHA256SUM
          command: |
            brew install coreutils
            cd bin && sha256sum * > SHA256SUMS
      - run: upload-github-release-assets bin/*
      - run:
          name: Verify that assets attached to the release
          command: |
            ./_ci/verify-release-assets.sh

workflows:
  version: 2
  build-and-test:
    jobs:
      - integration_test_terraform_with_provider_cache:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_tofu:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_deprecated:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_tofu_only:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_tofu_with_provider_cache:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_tflint:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - test_mocks:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - race_test:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - parse_test:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - integration_test_tofu_aws:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - AWS__PHXDEVOPS__terragrunt-oidc-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
      - integration_test_terraform_aws:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - AWS__PHXDEVOPS__terragrunt-oidc-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
      - integration_test_terraform_awsgcp:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - AWS__PHXDEVOPS__terragrunt-oidc-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
      - integration_test_terraform_latest_aws:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - AWS__PHXDEVOPS__terragrunt-oidc-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
      - build:
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - test_signing:
          requires:
            - build
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
      - deploy:
          requires:
            - build
          filters:
            tags:
              only:
                - /^v.*/
                - /^alpha.*/
            branches:
              ignore: /.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
