---
import Eyebrow from '@components/dv-Eyebrow.astro';
import { Image } from 'astro:assets';
import IconPricingTeam from '@assets/icons/terragrunt-pricing-team.svg';
import TerragruntAccent from '@assets/icons/terragrunt-icon-accent.svg';
---

<section class="border-b border-solid border-gray-3 pt-[var(--sl-nav-height)] px-19">
  <div class="max-w-[1440px] mx-auto flex flex-row gap-x-15 pt-47 pb-30">

    <!-- How it works -->
    <div class="flex flex-col gap-8">
      <Eyebrow text="Checkout" />
      <h1 class="text-[64px] text-primary m-0">Purchase Terragrunt <span class="text-accent">Scale</span></h1>
      <h2 class="text-[42px] text-primary m-0">How it works</h2>

      <!-- Steps -->
      <div class="grid grid-cols-3 grid-rows-1 bg-white gap-0 border border-dashed border-gray-3">

        <div class="p-6 border-r border-dashed border-gray-3">
          <h3 class="text-xl font-medium text-accent my-2">1.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Purchase your subscription</h3>
          <p class="text-sm mt-4 text-gray-1">Provide technical details below that will assist us in planning your onboarding, then complete your subscription purchase through Stripe.</p>
        </div>

        <div class="p-6 border-r border-dashed border-gray-3">
          <h3 class="text-xl font-medium text-accent my-2">2.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Schedule your onboarding</h3>
          <p class="text-sm mt-4 text-gray-1">Book your onboarding with a Gruntwork Solutions Architect immediately after completing payment.</p>
        </div>

        <div class="p-6">
          <h3 class="text-xl font-medium text-accent my-2">3.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Set up with a solutions architect</h3>
          <p class="text-sm mt-4 text-gray-1">Meet with us to gain access to the tools and receive hands-on assistance to configure it, as well as practical advice on how to make the most of Terragrunt Scale.</p>
        </div>
      </div>
    </div>

    <!-- Pricing -->
    <div class="relative flex flex-col justify-between w-[426px] shrink-0 bg-bg-dark px-8 py-6 rounded-lg border border-card-border">
      <Image
        src={TerragruntAccent}
        alt="Isometric background pattern with terragrunt logo"
        class="absolute right-[-45px] bottom-[150px]"
      />
      <div>
        <div class="flex flex-row items-center justify-between gap-2 mb-6">
          <Image
              alt="Pipelines Icon"
              class={"aspect-[1/1] h-auto size-16"}
              src={IconPricingTeam}
          />
          <p class="text-gray-1 text-2xl m-0">
            <span class="text-[42px] text-accent-3">$500</span>/mo*
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-white font-sans text-xl font-medium m-0">Team</p>
          <p class="text-gray-1 font-sans text-sm m-0">For most platform teams</p>
        </div>

        <ul class="list-none pl-0 flex flex-col gap-2">
          <li class="flex items-center gap-2 text-white text-[14px] before:content-[''] before:inline-block before:w-5 before:h-5 before:bg-[url('../assets/icons/list-item-purple.svg')] before:bg-contain before:bg-no-repeat before:flex-none">
            Terragrunt Pipelines
          </li>
          <li class="flex items-center gap-2 text-white text-[14px] before:content-[''] before:inline-block before:w-5 before:h-5 before:bg-[url('../assets/icons/list-item-purple.svg')] before:bg-contain before:bg-no-repeat before:flex-none">
            Terragrunt Patcher
          </li>
          <li class="flex items-center gap-2 text-white text-[14px] before:content-[''] before:inline-block before:w-5 before:h-5 before:bg-[url('../assets/icons/list-item-purple.svg')] before:bg-contain before:bg-no-repeat before:flex-none">
            Terragrunt Drift Detection
          </li>
          <li class="flex items-center gap-2 text-white text-[14px] before:content-[''] before:inline-block before:w-5 before:h-5 before:bg-[url('../assets/icons/list-item-purple.svg')] before:bg-contain before:bg-no-repeat before:flex-none">
            Standard Support
          </li>
        </ul>
      </div>

      <p class="text-xs text-gray-1 font-sans">* Price reflects a 17% annual contract discount, and includes a license for 1 repo and 2 users.</p>
    </div>

  </div>
</section>
