---
import CheckoutForm from '@components/CheckoutForm.astro';
import Eyebrow from '@components/dv-Eyebrow.astro';
import { Image } from 'astro:assets';
import IconPricingTeam from '@assets/icons/terragrunt-pricing-team.svg';
import TerragruntAccent from '@assets/icons/terragrunt-icon-accent.svg';
---

<section class="border-b border-solid border-gray-3 pt-[var(--sl-nav-height)] px-19">
  <div class="max-w-[1440px] mx-auto flex flex-row gap-x-15 pt-47 pb-30">

    <!-- How it works -->
    <div class="flex flex-col gap-8">
      <Eyebrow text="Checkout" />
      <h1 class="text-[64px] text-primary m-0">Purchase Terragrunt <span class="text-accent">Scale</span></h1>
      <h2 class="text-[42px] text-primary m-0">How it works</h2>

      <!-- Steps -->
      <div class="grid grid-cols-1 grid-rows-3 lg:grid-cols-3 lg:grid-rows-1 bg-white gap-0 border border-dashed border-gray-3">

        <div class="p-6 border-r border-dashed border-gray-3">
          <h3 class="text-xl font-medium text-accent my-2">1.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Purchase your subscription</h3>
          <p class="text-sm mt-4 text-gray-1">Select your billing cycle and complete payment with Stripe.</p>
        </div>

        <div class="p-6 border-r border-dashed border-gray-3">
          <h3 class="text-xl font-medium text-accent my-2">2.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Schedule your onboarding</h3>
          <p class="text-sm mt-4 text-gray-1">Book your onboarding with a Gruntwork Solutions Architect immediately after completing payment.</p>
        </div>

        <div class="p-6">
          <h3 class="text-xl font-medium text-accent my-2">3.</h3>
          <h3 class="text-xl font-medium text-primary my-2">Set up with a solutions architect</h3>
          <p class="text-sm mt-4 text-gray-1">Meet with us to gain access to the tools and receive hands-on assistance to configure it, as well as practical advice on how to make the most of Terragrunt Scale.</p>
        </div>
      </div>
    </div>

    <div class="w-[426px] shrink-0">
      <CheckoutForm />
    </div>

  </div>
</section>
