---
import '@styles/global.css';
import { Image } from 'astro:assets';

import PatternDivider from '@assets/pattern-div.svg';
---
<div class="relative w-full h-8 border-x-1 border-dashed border-gray-3">
    <Image 
        src={PatternDivider}
        alt="Pattern Divider"
        class="absolute inset-0 w-full h-full object-cover"
    />
</div>