---
import '@styles/global.css';

import Eyebrown from '@components/dv-Eyebrown.astro';
import Card from '@components/dv-Card.astro';
import Divider from '@components/dv-Divider.astro';
---

<section class="flex justify-center items-center pt-10 md:pt-36 px-5 md:px-10">
    <div class="flex flex-col md:flex-row md:w-[680px] lg:w-[900px]">
        <!-- Header Section -->
        <div class="flex flex-col gap-4 md:gap-8 pb-6 md:pl-12 md:pr-8">
            <Eyebrown text="ORCHESTRATE" />
            <h2 class="text-4xl md:text-[42px] font-sans">Orchestrate Your <span class="text-accent">Infrastructure</span></h2>
        </div>
        <!-- Content Wrapper -->
        <div class="flex flex-col md:pr-6 lg:pl-6">
            <Card title="Segment Your Infrastructure">
                <p class="text-sm font-sans text-gray-1">Break down your monolithic infrastructure into manageable
                <a href="#" class="text-accent-1 border-b-1 border-gray-1/50 hover:cursor-pointer"> units </a>
                that are safe to update independently, and have their own state.</p>
            </Card>
            <Divider />
            <Card title="Control Your Infrastructure">
                <p class="text-sm font-sans text-gray-1">Reject all-or-nothing updates. Control exactly what infrastructure is updated, how it gets updated, and in what order by taking advantage of the
                <a href="#" class="text-accent-1 border-b-1 border-gray-1/50 hover:cursor-pointer"> Run Queue</a>
                .</p>
            </Card>
            <Divider />
            <Card title="Secure Your Infrastructure">
                <p class="text-sm font-sans text-gray-1">Terragrunt <a href="#" class="text-accent-1 border-b-1 border-gray-1/50 hover:cursor-pointer">authentication tooling</a> makes it trivial to manage infrastructure across any number of environments or cloud providers with least privilege access.</p>
            </Card>
        </div>
    </div>
</section>