---
export interface Props {
  borderColor?: string;
}

const { borderColor = 'border-gray-3' } = Astro.props;
---

<div class="min-h-[100vh] w-full overflow-hidden lg:px-8 xl:px-24 2xl:px-76">
  <div class={`min-h-[100vh] relative flex flex-col lg:border-l-1 lg:border-r-1 ${borderColor} max-w-[1312px] mx-auto w-full`}>
    <slot />
  </div>
</div>
