---
interface Props {
  borderStyle?: 'dashed' | 'solid';
}

let { borderStyle = 'dashed' } = Astro.props;
---

<div class="fixed h-[100vh] w-full bg-[#FAFAFA] top-0 center z-1 lg:px-8 xl:px-24 2xl:px-76">
  <div class={`hidden md:block h-[100vh] md:w-[633px] lg:w-[852px] w-[1312px] mx-auto border-x-1 border-gray-3 border-${borderStyle}`}></div>
</div>
