//
// Variable additions to enhance Bootstraps core variables
// ==================================================
// ==================================================
// These are NOT intended to be edited on a site by site basis.



//
// Colors
// ==================================================

// From the Google Material set of UI colors - https://www.materialui.co/colors
@color-red:                                 #f44336; // Red 500
@color-pink:                                #E91E63; // Pink 500
@color-purple:                              #9C27B0; // Purple 500
@color-deep-purple:                         #673AB7; // Deep Purple 500
@color-indigo:                              #3F51B5; // Indigo 500
@color-blue:                                #2196F3; // Blue 500
@color-light-blue:                          #03A9F4; // Light Blue 500
@color-cyan:                                #00BCD4; // Cyan 500
@color-teal:                                #009688; // Teal 500
@color-green:                               #4CAF50; // Green 500
@color-light-green:                         #8BC34A; // Light Green 500
@color-lime:                                #CDDC39; // Lime 500
@color-yellow:                              #FFEB3B; // Yellow 500
@color-amber:                               #FFC107; // Amber 500
@color-orange:                              #FF9800; // Orange 500
@color-deep-orange:                         #FF5722; // Deep Orange 500
@color-brown:                               #795548; // Brown 500

@color-bg-light:                            lighten(@color-bg, 5%, relative);
@color-bg:                                  #fff;
@color-bg-dark:                             darken(@color-bg, 5%, relative);
@color-bg-grayscale:                        desaturate(@color-bg, 100%);
@color-bg-inverse:                          contrast(@color-bg-grayscale);

@white-overlay-light:                       fade(#fff, 5%);
@white-overlay-medium:                      fade(#fff, 10%);
@white-overlay-default:                     fade(#fff, 17.5%);
@white-overlay-heavy:                       fade(#fff, 25%);

@black-overlay-light:                       fade(#000, 5%);
@black-overlay-medium:                      fade(#000, 10%);
@black-overlay-default:                     fade(#000, 17.5%);
@black-overlay-heavy:                       fade(#000, 25%);

@color-transparent-lightest:                fade(@color-bg-inverse, 3%);
@color-transparent-lighter:                 fade(@color-bg-inverse, 6%);
@color-transparent-light:                   fade(@color-bg-inverse, 10%);
@color-transparent:                         fade(@color-bg-inverse, 14%);
@color-transparent-dark:                    fade(@color-bg-inverse, 18%);
@color-transparent-darker:                  fade(@color-bg-inverse, 22%);
@color-transparent-darkest:                 fade(@color-bg-inverse, 27%);

@gray-base:                                 #000;
@gray-darker:                               lighten(@gray-base, 13%); // #222
@gray-dark:                                 lighten(@gray-base, 25%);   // #404040
@gray:                                      lighten(@gray-base, 33%); // #555
@gray-light:                                lighten(@gray-base, 46%); // #777
@gray-lighter:                              lighten(@gray-base, 90%);   // #e6e6e6
@gray-lightest:                             lighten(@gray-base, 97%);   // #f7f7f7

// Branding
@brand-black:                               #1e252f; // Brand black
@brand-white:                               #FFFFFF; // Brand white
@brand-gray:                                #bbbdc0; // Brand gray
@brand-blue:                                #5b4de5; // Brand blue
@brand-mid-blue:                            #06a3ff; // Brand mid blue
@brand-light-blue:                          #0dc0ef; // Brand light blue


@brand-primary:                             @color-light-green;
@brand-primary-inverse:                     #fff;
@brand-success:                             @color-green;
@brand-info:                                @color-light-blue;
@brand-warning:                             @color-amber;
@brand-danger:                              @color-red;

@brand-gradient-start-1:                    #4eb9fb;
@brand-gradient-end-1:                      #2683f5;

@brand-blue-transparent-lightest:           fade(@brand-blue, 3%);
@brand-blue-transparent-lighter:            fade(@brand-blue, 6%);
@brand-blue-transparent-light:              fade(@brand-blue, 10%);
@brand-blue-transparent:                    fade(@brand-blue, 25%);
@brand-blue-transparent-dark:               fade(@brand-blue, 50%);
@brand-blue-transparent-darker:             fade(@brand-blue, 75%);
@brand-blue-transparent-darkest:            fade(@brand-blue, 90%);

// Scaffolding
@body-bg:                                   @color-bg;

@main-bg:                                   transparent;

@footer-bg:                                 @color-bg-dark;
@footer-copyright-bg:                       @footer-bg;

// Typography
@line-height-base:                          1.6;
@line-height-h1:                            1.15;
@line-height-h2:                            1.21;
@line-height-h3:                            1.27;
@line-height-h4:                            1.33;
@line-height-h5:                            1.4;
@line-height-h6:                            1.45;

@text-color:                                @brand-black;
@headings-color:                            @brand-black;

@text-muted:                                fade(@text-color, 60%);
@text-footer:                               lighten(@text-color, 35%, relative);
@text-footer-copyright:                     @text-footer;



//
// Typography
// ==================================================

@font-family-sans-serif:                    'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@text-font-weight:                          400;
@headings-font-weight:                      700;
@normal-font-weight:                        400;
@bold-font-weight:                          700;



//
// Breadcrumbs
// ==================================================

@breadcrumb-bg:                             @color-bg-light;
@breadcrumb-color:                          @text-muted;
@breadcrumb-active-color:                   @text-muted;



//
// Buttons
// ==================================================

@btn-default-color:                         @brand-white;
@btn-default-bg:                            #fff;
@btn-default-border:                        @color-transparent-light;



//
// Close
// ==================================================

@close-color:                               contrast(@modal-content-bg);
@close-text-shadow:                         0 1px 0 @color-bg;



//
// Dropdowns
// ==================================================

@dropdown-bg:                               @color-bg;
@dropdown-border:                           @color-transparent-light;
@dropdown-divider-bg:                       @dropdown-border;
@dropdown-link-color:                       @text-color;
@dropdown-link-hover-color:                 darken(@dropdown-link-color, 5%);
@dropdown-link-hover-bg:                    @color-transparent-light;
@dropdown-link-disabled-color:              @text-muted;
@dropdown-header-color:                     @headings-color;
@dropdown-caret-color:                      @dropdown-link-color;



//
// Forms
// ==================================================

@form-group-margin-bottom:                  (@grid-gutter-width / 1.25);

@input-bg:                                  #fff;
@input-bg-disabled:                         darken(@input-bg, 5%, relative);

@input-color:                               @headings-color;
@input-border:                              @color-transparent;

@input-border-focus:                        #66afe9;
@input-color-placeholder:                   @text-muted;

@legend-color:                              @text-muted;
@legend-border-color:                       @color-transparent;

@input-group-addon-bg:                      @input-bg;
@input-group-addon-border-color:            @input-border;



//
// Form states and alerts
// ==================================================

@state-success-text:                        @brand-success;
@state-success-bg:                          #e3f1e4; // 15% of @brand-success
@state-success-border:                      #bddebf; // 35% of @brand-success

@state-info-text:                           @brand-info;
@state-info-bg:                             #e5f3fa; // 10% of @brand-info
@state-info-border:                         #b3dbf1; // 30% of @brand-info

@state-warning-text:                        darken(@brand-warning, 7.5%);
@state-warning-bg:                          #fff4cc; // 25% of @brand-warning
@state-warning-border:                      #ffe071; // 70% of @brand-warning

@state-danger-text:                         @brand-danger;
@state-danger-bg:                           #f9e9e9; // 10% of @brand-danger
@state-danger-border:                       #f1c9c9; // 25% of @brand-danger



//
// Jumbotron
// ==================================================

@jumbotron-bg:                              @color-transparent-light;


//
// List groups
// ==================================================

@list-group-bg:                             transparent;
@list-group-border:                         @color-transparent-light;

@list-group-hover-bg:                       @color-transparent-lighter;
@list-group-active-color:                   @component-active-color;
@list-group-active-bg:                      @component-active-bg;
@list-group-active-border:                  @list-group-active-bg;
@list-group-active-text-color:              lighten(@list-group-active-bg, 40%);

@list-group-disabled-color:                 @color-transparent-darker;
@list-group-disabled-bg:                    transparent;
@list-group-disabled-text-color:            @text-muted;

@list-group-link-color:                     @headings-color;
@list-group-link-hover-color:               @list-group-link-color;
@list-group-link-heading-color:             @headings-color;



//
// Modals
// ==================================================

@modal-inner-padding:                       15px 20px;
@modal-title-padding:                       15px 20px 11px 20px;

@modal-content-bg:                          @color-bg;
@modal-content-border-color:                @color-transparent-light;

@modal-header-border-color:                 @color-transparent-light;
@modal-footer-border-color:                 @modal-header-border-color;



//
// Navbar
// ==================================================

@navbar-height:                             60px;
@navbar-margin-bottom:                      0;
@navbar-border-radius:                      0;

@navbar-default-color:                      @text-color;
@navbar-default-bg:                         @color-bg-dark;
@navbar-default-border:                     @color-transparent-light;

@navbar-default-link-color:                 @navbar-default-color;
@navbar-default-link-hover-color:           darken(@navbar-default-link-color, 15%);
@navbar-default-link-hover-bg:              @color-transparent-lighter;
@navbar-default-link-active-color:          @navbar-default-link-hover-color;
@navbar-default-link-active-bg:             @navbar-default-link-hover-bg;
@navbar-default-link-disabled-color:        fade(@navbar-default-link-color, 50%);
@navbar-default-link-disabled-bg:           transparent;

@navbar-default-brand-color:                @navbar-default-link-color;
@navbar-default-brand-hover-color:          @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:             transparent;

@navbar-default-toggle-hover-bg:            @color-transparent;
@navbar-default-toggle-icon-bar-bg:         @navbar-default-link-color;
@navbar-default-toggle-border-color:        @navbar-default-border;



//
// Navs
// ==================================================


// Shared nav styles
// -------------------------

@nav-link-hover-bg:                         @color-transparent-lighter;

@nav-disabled-link-color:                   @text-muted;
@nav-disabled-link-hover-color:             @text-muted;


// Tabs
// -------------------------

@nav-tabs-border-color:                     @color-transparent-light;

@nav-tabs-link-hover-border-color:          @color-transparent-light;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @text-color;
@nav-tabs-active-link-hover-border-color:   @color-transparent-light;



//
// Panels
// ==================================================

@panel-bg:                                  @color-bg;
@panel-body-padding:                        23px 20px 20px 20px;
@panel-heading-padding:                     20px;

@panel-inner-border:                        @color-transparent-light;
@panel-footer-bg:                           @color-transparent-lighter;

@panel-default-text:                        @text-color;
@panel-default-border:                      @color-transparent-light;
@panel-default-heading-bg:                  @color-transparent-lighter;



//
// Progress bars
// ==================================================

@progress-bg:                               @color-transparent-lighter;



//
// Sidebar
// ==================================================

@sidebar-width:                             260px;
@sidebar-width-small:                       220px;

@sidebar-default-color:                     @navbar-default-color;
@sidebar-default-bg:                        @navbar-default-bg;
@sidebar-default-border:                    darken(@sidebar-default-bg, 15%);

@sidebar-default-link-color:                @sidebar-default-color;
@sidebar-default-link-hover-color:          darken(@sidebar-default-link-color, 15%);
@sidebar-default-link-hover-bg:             darken(@sidebar-default-bg, 7.5%);
@sidebar-default-link-active-color:         @sidebar-default-link-hover-color;
@sidebar-default-link-active-bg:            @sidebar-default-link-hover-bg;
@sidebar-default-link-disabled-color:       fade(@sidebar-default-link-color, 50%);
@sidebar-default-link-disabled-bg:          transparent;

@sidebar-default-brand-color:               @sidebar-default-link-color;
@sidebar-default-brand-hover-color:         @sidebar-default-link-hover-color;
@sidebar-default-brand-hover-bg:            transparent;



//
// Tables
// ==================================================

@table-cell-padding:                        15px;
@table-condensed-cell-padding:              8px 15px;

@table-bg-hover:                            fade(@color-amber, 10%);
@table-border-color:                        @color-transparent-lighter;
@table-header-border-color:                 @color-transparent-light;
@table-bg-accent:                           @color-transparent-lightest;
@table-bg-active:                           @table-bg-hover;



//
// Type
// ==================================================

// Blockquote
@blockquote-small-color:                    @text-muted;
@blockquote-border-color:                   @color-transparent;

// Page header border color
@page-header-border-color:                  @hr-border;

@hr-border:                                 @color-transparent-light;
