//
// Variable overrides
// ==================================================
// ==================================================
// Overrides the bootstrap variables AND our additional variables.
// THIS is intended to be the place where you customize variables.


//
// A... Typography & Colors
// ==================================================

// Branding
@brand-primary:                             #2d7ef4;
@brand-primary-inverse:                     #fff;
@brand-success:                             #24B47E;
@brand-info:                                #06A2FF;
@brand-warning:                             #E39F48;
@brand-danger:                              #FF2B67;

@color-transparent-link:                    rgba(255,255,255,0.7);

@color-bg:                                  #1D252F;
@footer-bg:                                 transparent;

// Typography
@font-family-sans-serif:                    'Source Sans Pro', sans-serif;
@font-family-code:                          'Fira Mono', monospace;

@font-size-base:                            16px;
@font-size-lg:                              22px;
@font-size-sm:                              14px;
// @font-size-h1:                              floor((@font-size-base * 2.6));
// @font-size-h2:                              floor((@font-size-base * 1.75));
// @font-size-h3:                              ceil((@font-size-base * 1.35));
// @font-size-h4:                              ceil((@font-size-base * 1.20));
// @font-size-h5:                              @font-size-base;
// @font-size-h6:                              ceil((@font-size-base * 0.85));

@font-size-h1:                              floor((@font-size-base * 3.6));
@font-size-h2:                              floor((@font-size-base * 3.2));
@font-size-h3:                              ceil((@font-size-base * 2.8));
@font-size-h4:                              ceil((@font-size-base * 2.4));
@font-size-h5:                              ceil((@font-size-base * 1.8));
@font-size-h6:                              ceil((@font-size-base * 1.2));

@font-size-h1-sm:                              floor((@font-size-base * 2.8));
@font-size-h2-sm:                              floor((@font-size-base * 2.4));
@font-size-h3-sm:                              ceil((@font-size-base * 2.2));
@font-size-h4-sm:                              ceil((@font-size-base * 2.0));
@font-size-h5-sm:                              ceil((@font-size-base * 1.6));
@font-size-h6-sm:                              ceil((@font-size-base * 1.2));

@font-size-h1-subpage:                        floor((@font-size-base * 2.2));
@font-size-h2-subpage:                        floor((@font-size-base * 2.0));
@font-size-h3-subpage:                        ceil((@font-size-base * 1.8));
@font-size-h4-subpage:                        ceil((@font-size-base * 1.4));
@font-size-h5-subpage:                        ceil((@font-size-base * 1.0));
@font-size-h6-subpage:                        ceil((@font-size-base * 0.8));

@line-height-base:                          1.7;

@text-font-weight:                          400;
@headings-font-weight:                      400;

@text-color:                                @brand-black;

@abbr-border-color:                         @gray-lighter;


//
// Borders
// ==================================================

@border-radius-base:                        0;
@border-radius-large:                       0;
@border-radius-small:                       0;


//
// Buttons
// ==================================================

@btn-font-weight:                           700;

@btn-border-radius-base:                    30px;
@btn-border-radius-large:                   45px;
@btn-border-radius-small:                   20px;

@btn-default-color:                         @headings-color;
@btn-default-bg:                            lighten(@color-bg, 50%, relative);
@btn-default-border:                        transparent;


//
// Containers
// ==================================================

@container-large-desktop:                   (940px + @grid-gutter-width);
@screen-lg:                                 992px;


//
// Dropdowns
// ==================================================

@dropdown-bg:                               @color-bg;
@dropdown-border:                           @brand-danger;
@dropdown-divider-bg:                       @color-transparent-light;
@dropdown-link-color:                       @color-bg-inverse;
@dropdown-link-hover-color:                 @dropdown-link-color;
@dropdown-link-hover-bg:                    @brand-info;


//
// Forms
// ==================================================

@input-border-radius:                       0;
@input-border-radius-large:                 0;
@input-border-radius-small:                 0;

@input-bg:                                  lighten(@color-bg, 20%, relative);
@input-bg-disabled:                         transparent;

@input-border:                              @hr-border;


//
// Horizontal rules
// ==================================================

@hr-border:                                 #194C5F;


//
// Labels
// ==================================================

@label-default-bg:                          @btn-default-bg;


//
// Media queries breakpoints
// ==================================================

@grid-float-breakpoint:                     @screen-md-min;


//
// Modals
// ==================================================

@modal-content-bg:                          @color-bg;
@modal-content-border-color:                transparent;

@modal-header-border-color:                 transparent;
@modal-footer-border-color:                 transparent;

@modal-backdrop-bg:                         @brand-primary;
@modal-backdrop-opacity:                    .40;

@modal-md:                                  768px;


//
// Navbar
// ==================================================

@navbar-height:                             80px;
@navbar-margin-bottom:                      0;

@navbar-default-color:                      #fff;
@navbar-default-bg:                         transparent;
@navbar-default-border:                     transparent;

@navbar-default-link-hover-color:           @color-transparent-link;
@navbar-default-link-hover-bg:              transparent;


//
// Panels
// ==================================================

@panel-bg:                                  transparent;
@panel-body-padding:                        23px 20px 20px 20px;
@panel-heading-padding:                     20px;

@panel-inner-border:                        @color-transparent-light;
@panel-footer-bg:                           @color-transparent-lighter;

@panel-default-text:                        @text-color;
@panel-default-border:                      @hr-border;
@panel-default-heading-bg:                  #242E3B;

//
// Shadows
// ==================================================
@shadow:                                    0 2px 34px 0 rgba(0, 0, 0, 0.1);

//
// Spacing
// ==================================================
@margin-base:                               20px;
@margin-xs:                                 floor((@margin-base * 0.5));
@margin-sm:                                 floor((@margin-base * 0.75));
@margin-md:                                 floor((@margin-base * 1));
@margin-lg:                                 floor((@margin-base * 1.5));
@margin-xlg:                                floor((@margin-base * 2.5));
@margin-2xlg:                               floor((@margin-base * 5));
@margin-3xlg:                               floor((@margin-base * 7.5));

//
// Tables
// ==================================================

@table-bg-hover:                            @brand-primary;
@table-bg-accent:                           #242E3B;
@table-border-color:                        #194c5f;


//
// Wells
// ==================================================

@well-bg:                                   #242E3B;
@well-border:                               transparent;
