---
import { Image } from 'astro:assets';

import Customers from '@assets/img/customers.png';
import ContactForm from '@components/ContactForm.astro';
import Header from '@components/Header.astro';
import PageContainer from '@components/PageContainer.astro';

import '@styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Contact Terragrunt - Get in touch with the Terragrunt team for support, questions, or feedback" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact - Terragrunt</title>
	</head>

  <body class="flex flex-col min-h-screen bg-[#0d0622]">
    <div class="fixed top-0 z-50">
      <Header showThemeToggle={false} />
    </div>

    <PageContainer borderOuter="border-[#343956]" borderInner='border-transparent'>
      <!-- Divider -->
      <div class="absolute hidden sm:block h-[400px] w-full border-b-1 border-[#343956]"></div>

      <div class="grid grid-cols-1 lg:grid-cols-2 pt-[100px] lg:gap-12 mx-[50px] mt-12">

        <!-- Left -->
        <div class="mr-auto max-w-[550px]">
          <div class="w-full px-5 md:px-0 mb-10 sm:mb-[100px]">
            <h2 class="text-4xl text-white md:text-[42px] font-sans m-0 mb-[32px]">Interested in Terragrunt Scale?</h2>
            <p class="text-sm font-sans text-gray-1">Scale your IaC estate with centralized pipelines, drift detection, and expert support. We'll start by asking about your current infrastructure needs and goals. Then we'll show you what's possible with Terragrunt Scale.</p>
          </div>
          <div class="hidden lg:block max-w-[472px] mt-0 lg:mt-[250px]">
            <h4 class="text-white font-medium! mb-[50px]">Thousands of engineers build with Terragrunt</h4>
            <Image src={Customers} alt="Terragrunt Users" class="w-full h-auto max-w-full" />
          </div>
        </div>

        <!-- Right -->
        <div class="z-2 mb-50">
          <ContactForm />
        </div>

      </div>
    </PageContainer>

  </body>
</html>
