---
import { Icon } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import GruntworkLogoDusk from '../assets/gruntwork-logo-mark-dusk.svg';
import GruntworkLogoGlacier from '../assets/gruntwork-logo-mark-glacier.svg';
---

<StarlightPage frontmatter={{
	template: 'splash',
	title: '',
	description: 'Terragrunt is a flexible orchestration tool that allows Infrastructure as Code written in OpenTofu/Terraform to scale.',
	pagefind: false,
}}>

	<div class="max-w-7xl mx-auto px-4 py-12 text-center">
		<h1 class="text-4xl font-bold mb-4">The Trusted IaC Orchestrator that Scales</h1>
		<p class="text-xl text-gray-600 dark:text-gray-300 mb-8">Solving scaling for OpenTofu/Terraform since 2016.</p>
		<div class="flex flex-col sm:flex-row gap-4 justify-center mt-8 max-w-[300px] sm:max-w-none mx-auto  p-8 rounded-lg">
			<a href="/docs/getting-started/quick-start/" class="inline-flex items-center justify-center px-6 py-3 rounded-lg bg-blue-600 dark:bg-blue-500 text-white font-semibold transition-all duration-200 hover:bg-blue-500 dark:hover:bg-blue-400 hover:-translate-y-0.5 hover:shadow-xl shadow-md no-underline">
				<span class="ml-2">Quick Start </span>
				<Icon name="rocket" />
			</a>
			<a href="/docs/reference/hcl/" class="inline-flex items-center justify-center px-6 py-3 rounded-lg bg-blue-600 dark:bg-blue-500 text-white font-semibold transition-all duration-200 hover:bg-blue-500 dark:hover:bg-blue-400 hover:-translate-y-0.5 hover:shadow-xl shadow-md no-underline">
				<span class="ml-2">Docs </span>
				<Icon name="open-book" />
			</a>
		</div>
	</div>

	<div class="flex items-center justify-center py-12 text-gray-600 dark:text-gray-300">
		<picture class="w-6 h-6 mr-2">
			<source srcset={GruntworkLogoGlacier.src} media="(prefers-color-scheme: dark)" />
			<source srcset={GruntworkLogoDusk.src} media="(prefers-color-scheme: light)" />
			<img src={GruntworkLogoDusk.src} alt="Gruntwork Logo" class="w-6 h-6" />
		</picture>
		From the DevOps Experts at <a href="https://gruntwork.io" class="text-blue-600 dark:text-blue-400 no-underline hover:underline">Gruntwork</a>
	</div>

</StarlightPage>


<!-- These styles are needed to override the weird styles for the StarlightPage component -->
<style>
  .logo {
    margin-top: 1rem;
  }

  .feature-card {
    margin-top: 1rem;
  }

  .commercial-card {
    margin-top: 1rem;
  }
</style>
