---
import { LinkButton } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DarkLogo from '../assets/logo-dark.svg'
import LightLogo from '../assets/logo-light.svg'
import GruntworkLogoDusk from '../assets/gruntwork-logo-mark-dusk.svg';
import GruntworkLogoGlacier from '../assets/gruntwork-logo-mark-glacier.svg';
---

<StarlightPage frontmatter={{
	template: 'splash',
	title: 'Terragrunt',
	description: 'Terragrunt is a flexible orchestration tool that allows Infrastructure as Code written in OpenTofu/Terraform to scale.',
	pagefind: false,
	hero: {
		title: 'Terragrunt',
		tagline: 'Ship infrastructure at scale, faster and safer.',
		image: {
			dark: LightLogo,
			light: DarkLogo,
			alt: 'Terragrunt Logo',
		},
		actions: [
			{
				text: 'Quick Start',
				icon: 'rocket',
				link: '/docs/getting-started/quick-start/'
			},
			{
				text: 'Docs',
				icon: 'open-book',
				link: '/docs/reference/hcl/'
			}
		]
	}
}}>

	<div class="flex items-center justify-center py-12 text-gray-600 dark:text-gray-300">
		<Image src={GruntworkLogoDusk} alt="Gruntwork Logo" class="w-6 h-6 dark:sl-hidden" style="margin-top: 0;" />
		<Image src={GruntworkLogoGlacier} alt="Gruntwork Logo" class="w-6 h-6 light:sl-hidden" style="margin-top: 0;" />
		<span class="mr-2">&nbsp;From the DevOps experts at&nbsp;</span>
		<a href="https://gruntwork.io" class="text-blue-600 dark:text-blue-400 no-underline hover:underline">Gruntwork</a>
	</div>

</StarlightPage>
