---
import BaseLayout from '@layouts/BaseLayout.astro';
import ConsistencySection from '@components/dv-ConsistencySection.astro';
import DrySection from '@components/dv-DrySection.astro';
import FeaturedBrands from '@components/dv-FeaturedBrands.astro';
import Footer from '@components/dv-Footer.astro';
import Header from '@components/Header.astro';
import Hero from '@components/dv-Hero.astro';
import OrchestrateSection from '@components/dv-OrchestrateSection.astro';
import PageContainer from '@components/PageContainer.astro';
import PetAdvertise from '@components/dv-PetAdvertise.astro';
import Testimonials from '@components/dv-Testimonials.astro';

import '@styles/global.css';
import '@styles/custom-page.css';
---

<BaseLayout>
  <Header showThemeToggle={false} />
  <Hero />

  <PageContainer>
    <FeaturedBrands />

    <div class="flex flex-col gap-12 md:gap-38 z-10">
      <OrchestrateSection />
      <ConsistencySection />
      <DrySection />
      <Testimonials />
    </div>

    <div class="flex flex-col gap-44 z-10">
      <PetAdvertise />
      <Footer />
    </div>
  </PageContainer>
</BaseLayout>
