---
import '@styles/global.css';
import Navbar from '@components/dv-Navbar.astro';
import Hero from '@components/dv-Hero.astro';
import FeaturedBrands from '@components/dv-FeaturedBrands.astro';
import OrchestrateSection from '@components/dv-OrchestrateSection.astro';
import PetAdvertise from '@components/dv-PetAdvertise.astro';
import Footer from '@components/dv-Footer.astro';
import ConsistencySection from '@components/dv-ConsistencySection.astro';
import DrySection from '@components/dv-DrySection.astro';
import Testimonials from '@components/dv-Testimonials.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Terragrunt</title>
	</head>
    <body class="flex flex-col min-h-screen bg-[#FAFAFA]">
		<div class="fixed top-0 z-50">
      <!-- @ts-ignore -->
			<Navbar />
		</div>
		<div class="absolute top-[149px] md:top-[83px] w-full">
			<Hero />
			<div class="overflow-hidden lg:px-8 xl:px-24 2xl:px-76">
				<div class="relative flex flex-col lg:border-l-1 lg:border-r-1 lg:border-gray-3">
					<div class="z-10">
						<FeaturedBrands />
					</div>
					<!-- FIXME: Entre 1024px - 1046px las líneas punteadas no coinciden con el borde de las secciones -->
					<div class="hidden md:block pointer-events-none absolute left-1/2 top-0 -translate-x-1/2 md:w-[633px] lg:w-[852px] h-full z-0 border-x border-dashed border-gray-3"></div>
					<div class="flex flex-col gap-12 md:gap-44 z-10">
						<OrchestrateSection />
						<ConsistencySection />
						<DrySection />
						<Testimonials />
					</div>
					<div class="flex flex-col gap-44 z-10">
						<PetAdvertise />
						<Footer />
					</div>
				</div>
			</div>
		</div>
    </body>
</html>
