---
import { LinkButton } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DarkLogo from '../assets/logo-dark.svg'
import LightLogo from '../assets/logo-light.svg'
import GruntworkLogoDusk from '../assets/gruntwork-logo-mark-dusk.svg';
import GruntworkLogoGlacier from '../assets/gruntwork-logo-mark-glacier.svg';
---

<StarlightPage frontmatter={{
	template: 'splash',
	title: '',
	description: 'Terragrunt is a flexible orchestration tool that allows Infrastructure as Code written in OpenTofu/Terraform to scale.',
	pagefind: false,
}}>

	<div class="max-w-7xl mx-auto px-4 py-12 text-center">
		<h1 class="text-4xl font-bold mb-4">The IaC Orchestrator that Scales</h1>
		<p class="text-xl text-gray-600 dark:text-gray-300 mb-8 break-words">Ship well organized infrastructure, faster and safer.</p>
		<div>
			<LinkButton href="/docs/getting-started/quick-start/" icon="rocket">Quick Start</LinkButton>
			<LinkButton href="/docs/reference/hcl/" icon="open-book">Docs</LinkButton>
		</div>
	</div>

	<div class="logo-container">
		{
				<Image
					src={DarkLogo}
					alt="Terragrunt Logo"
					class='dark:sl-hidden logo-image'
				/>
		}
		{<Image src={LightLogo} alt="Terragrunt Logo" class="light:sl-hidden logo-image" />}
	</div>

	<div class="flex items-center justify-center py-12 text-gray-600 dark:text-gray-300">
		<Image src={GruntworkLogoDusk} alt="Gruntwork Logo" class="w-6 h-6 dark:sl-hidden" style="margin-top: 0;" />
		<Image src={GruntworkLogoGlacier} alt="Gruntwork Logo" class="w-6 h-6 light:sl-hidden" style="margin-top: 0;" />
		<span class="mr-2">&nbsp;From the DevOps experts at&nbsp;</span>
		<a href="https://gruntwork.io" class="text-blue-600 dark:text-blue-400 no-underline hover:underline">Gruntwork</a>
	</div>

</StarlightPage>


<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .logo-image {
    max-width: 200px;
    height: auto;
  }

  .logo {
    margin-top: 1rem;
  }

  .feature-card {
    margin-top: 1rem;
  }

  .commercial-card {
    margin-top: 1rem;
  }
</style>
