# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Terragrunt
url: "https://terragrunt.gruntwork.io"
email: info@gruntwork.io
name: "Terragrunt | Terraform wrapper"
description: >- # this means to ignore newlines until "baseurl:"
  Terragrunt is a thin wrapper for Terraform that provides extra tools for
  keeping your Terraform configurations DRY, working with multiple Terraform
  modules, and managing remote state.
baseurl: "" # the subpath of your site, e.g. /blog
full_company_name: "Gruntwork, Inc"
thumbnail_path: "/assets/img/terragrunt-thumbnail.png"
repository: "github.com/gruntwork-io/terragrunt"
twitter_username: https://twitter.com/gruntwork_io
github_username:  https://github.com/gruntwork-io

# Build settings
# theme: minima
assets_base_url: '/assets/'

ga_tracker: UA-76462621-6

theme: null

plugins:
  - jekyll-toc
  - jekyll-redirect-from
  - jekyll-sitemap

sass:
  sass_dir: assets/css
  style: compressed

whitelist:
  - jekyll-redirect-from

include: ['_pages']

collections:
  docs:
    output: true
    sort_by: order
    permalink: /:collection/:categories/:title/

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - scripts/
