name: Codespell

on:
  workflow_call:

jobs:
  codespell:
    name: Check Spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run codespell
        uses: codespell-project/actions-codespell@bca0a5887de255a8903221c67b6478c7501c5edc # v2
