name: Lint

on:
  workflow_call:

jobs:
  lint:
    name: Lint (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        # Windows doesn't get to be linted continuously because it annoyingly requires
        # that all files use \r\n line endings.
        # os: [ubuntu, macos, windows]
        os: [ubuntu, macos]

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: "Mount tmpfs on /tmp for faster I/O"
      if: runner.os == 'Linux'
      run: |
        sudo mount -t tmpfs -o size=4G,mode=1777 tmpfs /tmp
        echo "tmpfs mounted on /tmp:"
        df -h /tmp

    - name: Set up mise
      uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3
      with:
        version: 2026.1.9
        experimental: true
      env:
        # Adding token here to reduce the likelihood of hitting rate limit issues.
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - id: go-cache-paths
      shell: bash
      run: |
        echo "go-build=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
        echo "go-mod=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"

        if [ "$RUNNER_OS" == "Windows" ]; then
          echo "golangci-lint-cache=$LOCALAPPDATA/golangci-lint" >> "$GITHUB_OUTPUT"
          exit 0
        fi

        if [ "$RUNNER_OS" == "macOS" ]; then
          echo "golangci-lint-cache=$HOME/Library/Caches/golangci-lint" >> "$GITHUB_OUTPUT"
          exit 0
        fi

        if [ "$RUNNER_OS" == "Linux" ]; then
          echo "golangci-lint-cache=$HOME/.cache/golangci-lint" >> "$GITHUB_OUTPUT"
          exit 0
        fi

    - name: Go Build Cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ${{ steps.go-cache-paths.outputs.go-build }}
        key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}-${{ matrix.os }}-amd64

    - name: Go Mod Cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ${{ steps.go-cache-paths.outputs.go-mod }}
        key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}-${{ matrix.os }}-amd64

    - name: golangci-lint Cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ${{ steps.go-cache-paths.outputs.golangci-lint-cache }}
        key: ${{ runner.os }}-golangci-lint-${{ hashFiles('**/go.sum') }}-${{ matrix.os }}-amd64

    - name: Lint
      run: make run-lint
