name: Markdown Lint

on:
  workflow_call:

jobs:
  markdownlint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            docs/**/*.md
